<h1>Dashboard</h1>
<p style="margin-bottom: 15px; font-weight: 600; font-size: 20px">
  Welcome <%= name %>
</p>
<p style="margin-bottom: 10px; font-weight: 600; font-size: 15px">
  Current Active Sessions:
</p>
<% array.forEach(item => { %>
<div style="margin-bottom: 20px">
  <p style="margin: 0; font-weight: 600; font-size: 15px">
    SessionID: <%= item.sessionCode %>
  </p>
  <p style="margin-bottom: 5px; font-weight: 600; font-size: 15px">
    UserID: <%= item.user %>
  </p>
  <form method="POST" action="/revoke-session">
    <input type="hidden" name="sessionCode" value="<%= item.sessionCode %>" />
    <button
      style="
        border: none;
        color: white;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(73, 73, 189);
      "
      type="submit"
    >
      Revoke Session
    </button>
  </form>
</div>
<% }) %>
